<!-- <p *ngFor="let image of images"> {{image.fileName}}</p> -->
<div class="table table-bordered">
  <div class="row">
    <div class="col-1"><h3>Id</h3></div>
    <div class="col-4"><h3>File Name</h3></div>
    <div class="col-1"><h3>Size</h3></div>
    <div class="col-4"><h3>Path</h3></div>
    <div class="col-2"><h3>Delete</h3></div>
  </div>
  <div class="row" *ngFor="let image of images; index as i">
    <div class="col-1"> {{i+1}}</div>
    <div class="col-4"> {{image.fileName}}</div>
    <div class="col-1"> {{image.size}}</div>
    <!-- <div class="col-3"> {{image.path}}</div> -->
    <div class="col-4">
      <img [src]="image.path" alt="Image" height="100" width="100"> </div>
    <div class="col-2"><button (click)="onClickDelete()">Delete</button></div>
  </div>
</div>