<!-- <p *ngFor="let image of images"> {{image.fileName}}</p> -->
<div class="table table-bordered">
  <div class="row">
    <div class="col-2">Id</div>
    <div class="col-3">File Name</div>
    <div class="col-1">Size</div>
    <div class="col-4">Path</div>
    <div class="col-1">Edit</div>
    <div class="col-1">Delete</div>
  </div>
  <div class="row" *ngFor="let image of images">
    <div class="col-2"> {{image._id}}</div>
    <div class="col-3"> {{image.fileName}}</div>
    <div class="col-1"> {{image.size}}</div>
    <!-- <div class="col-3"> {{image.path}}</div> -->
    <div class="col-4">
      <img [src]="image.path" alt="Image" height="100" width="100"> </div>
    <div class="col-1">Edit</div>
    <div class="col-1">Delete</div>
  </div>
</div>