<br>
<div>
  <h6>Campaign Settings</h6>
  <form [formGroup]="campForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <label for="" class="col-md-3 col-form-label"> Campaign name:</label>
          <div class="col-md-9">
            <input type="text" class="form-control form-control-sm" name="campName" formControlName="campTitle" [value]="campTitle">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row form-group">
          <label for="" class="col-md-3 col-form-label"> Geo targeting:</label>
          <div class="col-md-9 multiSelectContainer">
            <button type="button" (click)="openCountryListBtnClick()" ngDefaultControl formControlName="selectedCountries">{{(selectedCountries.length) ? selectedCountries.length + " Selected" : "Nothig Selected"}}</button>
            <div *ngIf="openCountryList" class="col-12">
              <div>
                <div class="alignCenter">
                  <button type="button" (click)="selectAllCoutries()">Select All</button>
                  <button type="button" (click)="deSelectAllCoutries()">Deselect All</button>
                </div>
                <ul>
                  <li *ngFor="let country of countries;index as i" (click)="addCountryCheckMark(i)">
                    {{country.country}}
                    <i class="fa fa-check" *ngIf="country.select"></i>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="row form-group">
          <label for="" class="col-md-3 col-form-label">Size:</label>
          <div class="col-md-9">
            <input type="text" class="form-control input-sm" name="size" placeholder="Enter file size">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row form-group">
          <label for="" class="col-md-3 col-form-label">Device targeting:</label>
          <div class="col-md-9 multiSelectContainer">
            <button type="button" (click)="openDeviceListBtnClick()" ngDefaultControl formControlName="selectedDevices">{{(selectedDevices.length) ? selectedDevices.length + " Selected" : "Nothig Selected"}}</button>
            <div *ngIf="openDeviceList" class="col-md-12">
              <div style="width: 100%">
                <div class="alignCenter">
                  <button type="button" (click)="selectAllDevice()">Select All</button>
                  <button type="button" (click)="deSelectAllDevice()">Deselect All</button>
                </div>
                <ul>
                  <li *ngFor="let device of devices;index as i" (click)="addDeviceCheckMark(i)">
                    {{device.device}}
                    <i class="fa fa-check" *ngIf="device.select"></i>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="row form-group">
          <label for="" class="col-md-3 col-form-label" ngDefaultControl formControlName="selectedHours">Active hours:</label>
          <div class="col-md-9 multiSelectContainer">
            <button type="button" (click)="openHrsListBtnClick()">{{(selectedHours.length) ? selectedHours.length + " Selected" : "Nothing Selected"}}</button>
            <div *ngIf="openHrsList" class="col-12">
              <div style="width: 100%">
                <div class="alignCenter">
                  <button type="button" (click)="selectAllhours()">Select All</button>
                  <button type="button" (click)="deSelectAllhours()">Deselect All</button>
                </div>
                <ul>
                  <li *ngFor="let hour of hours;index as i" (click)="addHoursCheckMark(i)">
                    {{hour.hr}}
                    <i class="fa fa-check" *ngIf="hour.select"></i>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <fieldset formGroupName="os">
          <div class="row form-group">
            <label for="" class="col-md-3 col-form-label">OS targeting:</label>
            <div class="col-md-9 multiSelectContainer">
              <button type="button" (click)="openOsListBtnClick()">{{ (selectedOsDesktop.length + selectedOsMobile.length) ? (selectedOsDesktop.length + selectedOsMobile.length)
                + " Selected" : "Nothing Selected" }}</button>
              <div *ngIf="openOsList" class="col-12">
                <div style="width: 100%">
                  <div class="alignCenter">
                    <button type="button" (click)="selectAllOs()">Select All</button>
                    <button type="button" (click)="deSelectAllOs()">Deselect All</button>
                  </div>
                  <ul>
                    <p>Desktop OS</p>
                    <hr>
                    <li *ngFor="let os of osListDesktop;index as i" (click)="addOsCheckMark_dstp(i)">
                      {{ os.desktopOs}}
                      <i class="fa fa-check" *ngIf="os.select"></i>
                    </li>
                    <hr>
                    <p>Mobile OS</p>
                    <hr>
                    <li *ngFor="let os of osListMobile;index as i" (click)="addOsCheckMark_mob(i)">
                      {{os.mobileOs}}
                      <i class="fa fa-check" *ngIf="os.select"></i>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <label for="" class="col-md-3 col-form-label">Campaign start date:</label>
          <div class="col-md-9">
            <input type="date" class="form-control input-sm" name="campStartDate" ngDefaultControl formControlName="campStartDate">
          </div>
        </div>
      </div>
      <!-- <div class="col-md-6">
        <div class="row form-group">
          <label for="" class="col-md-3 col-form-label">Browser targeting:</label>
          <div class="col-md-9">
            <input type="text" class="form-control " name="browserTarget">
          </div>
        </div>
      </div> -->
      <div class="col-md-6">
        <div class="row form-group">
          <label for="" class="col-md-3 col-form-label">Browser targeting:</label>
          <div class="col-md-9 multiSelectContainer">
            <button type="button" (click)="openBrowserListBtnClick()">{{ (selectedBrowserDesktop.length + selectedBrowserMobile.length) ? (selectedBrowserDesktop.length + selectedBrowserMobile.length)
              + " Selected" : "Nothing Selected" }}</button>
            <div *ngIf="openBrowserList" class="col-12">
              <div style="width: 100%">
                <div class="alignCenter">
                  <button type="button" (click)="selectAllBrowser()">Select All</button>
                  <button type="button" (click)="deSelectAllBrowser()">Deselect All</button>
                </div>
                <ul>
                  <p>Desktop Browser</p>
                  <hr>
                  <li *ngFor="let browser of browserListDesktop;index as i" (click)="addBrowserCheckMark_dstp(i)">
                    {{ browser.desktopBrowser}}
                    <i class="fa fa-check" *ngIf="browser.select"></i>
                  </li>
                  <hr>
                  <p>Mobile Browser</p>
                  <hr>
                  <li *ngFor="let browser of browserListMobile;index as i" (click)="addBrowserCheckMark_mob(i)">
                    {{browser.mobileBrowser}}
                    <i class="fa fa-check" *ngIf="browser.select"></i>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <label for="" class="col-md-3 col-form-label">Campaign stop date:</label>
          <div class="col-md-9">
            <input type="date" class="form-control input-sm" name="campStopDate" ngDefaultControl formControlName="campEndDate">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row form-group">
          <label for="" class="col-md-3 col-form-label">Campaign link:</label>
          <div class="col-md-9">
            <input type="text" class="form-control input-sm" name="browserTarget">
          </div>
        </div>
      </div>
    </div>

    <!-- To NOT show the campaign at the following sites: -->

    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <label for="" class="col-md-3 col-form-label">To NOT show the campaign at the following sites:</label>
          <div class="col-md-9">
            <input type="text" class="form-control " name="site" placeholder="Enter Site to Avoid" [(ngModel)]="banSite" [ngModelOptions]="{standalone: true}">
            <p *ngFor="let site of banSiteList; index as i" class="setMarginBtmO">{{site}}
              <i class="fa fa-remove remColor" (click)="delBanSite($event, i)"></i>
            </p>
          </div>

        </div>
      </div>
      <div class="col-md-6">
        <div class="row form-group">
          <!-- <label for="" class="col-md-3 col-form-label">Campaign link:</label> -->
          <div class="col-md-3">
            <button type="button" class="btn btn-secondary" (click)="banSites()">Add</button>
          </div>
          <div class="col-md-9">
            <!-- <input type="text" class="form-control " name="browserTarget"> -->
          </div>
        </div>
      </div>
    </div>

    <div class="alert alert-warning fade show" *ngIf="removeCampAlert">
      Campaign has been reset !
    </div>

    <div class="card-footer text-center">
      <button type="button" class="btn btn-danger pull-left" (click)="removeCampaign()">
        <i class="fa fa-trash-o"></i> Remove campaign</button>
      <button type="button" class="btn btn-success"> Banner</button>
      <button type="submit" class="btn btn-success pull-right">
        <i class="fa fa-check"></i> Save campaign</button>
    </div>
  </form>
</div>


<pre>{{campForm.value | json}}</pre>